<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="ModernWpfUI" version="0.9.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="PresentationFramework.Aero2" version="1.0.1" targetFramework="net472" />
  <package id="PresentationTheme.Aero" version="0.6.2" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>